html {
  height: 100%;
}

body {
  background-image: url("./pokemon-chromebook-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
    color: #faf88b;
    font-size: 20pt;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}